// Footer styles start
footer .form-row .group {
    margin-bottom: 0;
}
.upper-footer {
    box-shadow: inset 0 0.1rem 0.2rem 0 #dedede;
    background: #f8f8f8;
    padding: 5.5rem 0;
    .social-media__list {
        list-style-type: none;
        margin: 2rem 0 0 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 .5rem 1rem;
        }
        a {
            display: block;
        }
        .icon {
            width: 4.7rem;
            height: 4.7rem;
        }
    }
    h4 {
        color: #797979;
        font-size: 1.7rem;
        margin-top:0;
        margin-bottom:.6rem;
    }
    p {
        font-size: 1.7rem;
        color: #797979;        
    }
    a {
        color:$pink;
        
        display: inline-flex;
        align-items: center;
        font-size: 1.7rem;
    }
    .phone, .mail {
        margin-right: 3rem;
        svg {
            fill:$pink;
            margin-right:.9rem;
        }
    }
}
.bottom-footer {
    background: #27376c;
    padding: 4.3rem 0;
    
    .blue-button {
        color: #7d8bbc;
        border: .2rem solid #7d8bbc;
        font-weight: bold;
        &:hover {
            background: rgba(125,139,188,.15);
        }
    }
    .icon {
        width: 1.2rem;
        height: 1.8rem;
        margin-left: 1rem;
        fill: #7d8bbc;
    }
    p {
        color: #7d8bbc;
        font-size: 1.7rem;
        line-height: 1.471;
        margin: 0;
    }
    ul {
        padding: 0;
        margin: 1.5rem 0;
        font-size: 0;
        li {
            list-style: none;
            display: inline-block;
            position: relative;
            &:not(:first-child):before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                width: .3rem;
                height: .3rem;
                background: #7d8bbc;
                border-radius: 50%;
            }
            &:not(:first-child) a {
                padding: 0 1.3rem;
            }
        }
        a {
            color: #7d8bbc;
            padding-right: 1.3rem;
            font-size: 1.4rem;
            &:hover {
                color: #e83e8c;
            }
        }
    }
}
// Footer styles finish