// Header styles start
header {
    min-height: 29.3rem;
    padding: 4rem 0;
    background: url('../assets/images/header-cover.png') no-repeat;
    background-size: cover;
}
.header-navigation {
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        z-index: 200;
    }
    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .top-navigation-responsive {
        z-index: 103;
        width: 9rem;
        float: right;
        text-align: right;
        padding: 1.2rem 0;
        .text {
            display: inline-block;
            font-size: 1.6rem;
            margin-top:.5rem;
            color: #fff;
            vertical-align: top;
        }
        .toggle-button {
            width: 4rem;
            height: 2.8rem;
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            display: inline-block;
        }
        .hamburger {
            outline: 0;
            // padding: 15px 5px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity,-webkit-filter;
            transition-property: opacity,filter;
            transition-property: opacity,filter,-webkit-filter;
            transition-duration: .15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible;
        }
        .hamburger-box {
            width: 30px;
            height: 17px;
            display: inline-block;
            position: relative;
        }
        .is-active {
            .hamburger-inner:after, .hamburger:hover .hamburger-inner:after {
                width: 100%;
            }
            .hamburger-inner {
                -webkit-transform: translate3d(0,7px,0) rotate(45deg);
                transform: translate3d(0,7px,0) rotate(45deg);
            }
            .hamburger-inner:before {
                -webkit-transform: rotate(-45deg) translate3d(-4.2857142857px,-4px,0);
                transform: rotate(-45deg) translate3d(-4.2857142857px,-4px,0);
                opacity: 0;
            }
            .hamburger-inner:after {
                -webkit-transform: translate3d(0,-14px,0) rotate(-90deg);
                transform: translate3d(0,-14px,0) rotate(-90deg);
            }
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            width: 30px;
            height: 3px;
            background-color: #ec008c;
            border-radius: 4px;
            position: absolute;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform,-webkit-transform;
            transition-duration: .15s;
            transition-timing-function: ease;
        }
        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -1.5px;
            transition: all .3s ease-in-out;
            top: 1.5px;
        }
        .hamburger--slider .hamburger-inner:before {
            top: 7px;
            transition-property: opacity,-webkit-transform;
            transition-property: transform,opacity;
            transition-property: transform,opacity,-webkit-transform;
            transition-timing-function: ease;
            transition-duration: .15s;
        }
        .hamburger-inner:before {
            top: -7px;
        }
        .hamburger-inner:after {
            bottom: -7px;
            top: 14px;
            transition: all .3s ease-in-out;
            width: 55%;
        }
        .hamburger-inner:after, .hamburger-inner:before {
            content: "";
            display: block;
        }
    }
}
.header-content {
    margin: 0; 
    h1 {
        color: #fff;
        font-size: 5.8rem;
        font-family: "Ridley",sans-serif;
        font-weight: 600;
        margin: 0 0 1.5rem;
        line-height: 1.1;
        &::after {
            content: ".";
            color: #ec008c;
            font-size: 6rem;
            font-weight: 400;
            line-height: 0;
        }
    }
    p {
        margin: 0;
        color: #a6b1d6;
        font-size: 2.4rem;
        line-height: 1.458;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            align-items: center;
            display: flex;
            overflow: visible;
            padding-right: .7rem;
            &::after {
                content: "\BB";
                color: #8e9dce;
                font-size:1.3rem;
                z-index: 2;
                padding-left: .9rem;
                margin-bottom: 0.3rem;
            }
            &:last-of-type::after {
                content: none;
            }
            &:last-of-type {
                font-weight: bold;
                a {
                    color: #cdd6f2;
                }
            }
        }
        a {
            font-size: 1.7rem;
            align-items: center;
            display: flex;  
            color: #8e9dce;
        }
        svg {
            margin-right: 1rem
        }
    }
}
// Header styles finish
