// Main styles start
.first-section {
    box-shadow: inset 0 -0.1rem 0.5rem 0 #dedede;
    background: #f8f8f8;
    padding: 7rem 0;
    .block-image {
        width: 10.8rem;
        height: 10.8rem;
        border-radius: 50%;
        border: .2rem solid #c5c5c5;
        margin: 0 auto 3.5rem;
        position: relative;
        &::before {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            border: .1rem solid #e3e3e3;
            margin: .3rem;
            position: absolute;
        }
    }
    svg {
        height: 100%;
        fill: $pink;
    }
    .svg-icon {
        top: 50%;
        left: 0;
        right: 0;
        height: 4.5rem;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
    }
    .zoomIn {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        &.animate-1 {
            animation-delay: .8s;
        }
        &.animate-2 {
            animation-delay: .9s;
        }
        &.animate-3 {
            animation-delay: 1s;
        }
        &.animate-4 {
            animation-delay: 1.1s;
        }
    }
    .animate-it {
        opacity: 0;
    }
    .block-content {
        text-align: center;
        h3 {
            font-size:1.8rem;
            margin: 0 0 2.5rem 0;
        }
        p {
            font-size: 1.7rem;
            font-style: normal;
            margin: 0;
            line-height: 1.3;
        }
        a {
            
            font-weight: 500;
        }
        .facebook {
            color:$blue;
        }
        .instagram {
            color:$pink;
        }
    }
}

.second-section {
    background: #fff;
    padding: 6rem 0 7rem;
    h2 {
        color:$blue;
        font-family: "Ridley", sans-serif;
        font-weight: 600;
        font-size: 4.6rem;
        margin: 0 0 5rem;
        &::after {
            content: ".";
            color: #ec008c;
            font-size: 6rem;
            font-weight: 400;
            line-height: 0;
        }
    }




    /* Form styles ------------------------------- */
    input, textarea {
        font-size:2rem;
        width: 100%;
        padding:1rem 1rem 1rem .5rem;
        display:block;
        border:none;
        border-bottom:1px solid #e3e3e3;
    }
    input:focus, textarea:focus      { outline:none; }

    /* LABEL ======================================= */
    label  {
        font-size:1.8rem;
        font-weight:normal;
        position:absolute;
        left:1.7rem;
        top:1rem;
        transition:0.2s ease all; 
        .asterisk {
            color:$pink;
        }
        &.special {
            pointer-events:none;
        }
    }
    
    /* active state */
    input:focus ~ label, input:valid ~ label, 
    textarea:valid ~ label, textarea:focus ~ label {
        top:-2rem;
        font-size: 1.5rem;
    }
    input:focus, textarea:focus  {
        border-color: $pink;
    }
    textarea {
        resize: none;
    }

    // error message
    .error {
        color: orangered;
        position:absolute;
        bottom:-3.5rem;
        display: none;
        font-size:1.2rem;
    }



    // More options button
    .more-questions {
        outline: none;
        font-size: 2rem;
        cursor:pointer;
        display: inline-block;
        position: relative;
        color:$grey;
        &::after {
            content: "";
            top: -.3rem;
            width: .6rem;
            height: .6rem;
            border-color: #ec008c;
            border-style: solid;
            border-width: 0 0 .2rem .2rem;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-left: 1.2rem;
            display: inline-block;
            position: relative;
        }
        .question {
            border-bottom: solid 1px $pink;
            color:$pink;
        }
    }
    .additional-questions {
        height: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
        visibility: hidden;
        overflow: hidden;
        &.active {
            height: auto;
            display:block;
            opacity: 1;
            visibility: visible;
            margin-bottom: 2rem;
            overflow: visible
        }
    }
    .timeframe::after {
        content: "";
        right: 0;
        bottom: 2rem;
        width: 2.2rem;
        height: 2.1rem;
        background: url('../assets/images/calendar-icon.png') no-repeat 50%/cover;
        position: absolute;
    }
    .budget::after {
        content: "";
        right: 0;
        bottom: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        background: url('../assets/images/pound.svg') no-repeat 50%/cover;
        position: absolute;
    }

    // Submit button
    .pink-button {
        color: #ec008c;
        border: .2rem solid #ec008c;
        &:hover {
            color: #fff;
            background: #ec008c;
            &:after {
                -webkit-transform: rotate(1turn);
                transform: rotate(1turn);
                background-image: url('../assets/images/right-arrow-white.svg');
            }
        }
        &:after {
            content: "";
            width: 1.4rem;
            height: 1.2rem;
            background: url('../assets/images/right-arrow.svg') no-repeat 50%/cover;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: all .3s ease-in-out;
            margin-left: 1.5rem;
            display: inline-block;
        }
    }
    h3 {
        color:$blue;
        font-size: 2.4rem;
        margin: 0 0 4.5rem;
        .approximate {
            color: $grey;
            font-size: 1.7rem;
            font-weight:normal;
        }
    }



    // Styles for checkboxes will go here
    input[type=checkbox]{
        padding: 0;
    }
    .checkboxes {
        padding-top: 2rem;
        position: relative;
        &::after {
            content:"";
            display:block;
            clear:both;
        }
    }
    .check-box {
        float: left;
        margin: 0 0 5.5rem;
        display: block;
        position: relative;
        input:checked + label:before {
            border: .1rem solid #ec008c;
        }
        input:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        label {
            color: #454545;
            font-size: 2rem;
            font-weight: 400;
            cursor: pointer;
            margin: 0;
            padding-left: 4.8rem;
            font-weight: 400;
            span {
                top: .7rem;
                position: relative;
            }
        }
    }
    .check-box label:before {
        content: "";
        left: 0;
        width: 2.8rem;
        height: 2.8rem;
        border: .1rem solid #e3e3e3;
        background: #fff;
        transition: all .3s ease-in-out;
        position: absolute;
    }
    .check-box label:after {
        content: "";
        opacity: 0;
        top: .8rem;
        left: .8rem;
        width: 1.3rem;
        height: 1.2rem;
        background: url('../assets/images/check.svg') no-repeat 50%/cover;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: all .3s ease-in-out;
        position: absolute;
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: .1rem;
        margin: -.1rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: .1rem;
        white-space: nowrap;
    }

}



// Third, additional section
.third-section {
    padding: 0 2rem;
    button {
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        background: $blue;
        color: white;
        cursor: pointer;
        margin: 20px 20px 20px -10px;
    }
}
.task-boxes {
    display:none;
}
.upload-box {
    height: 55rem;
    margin: 2rem;
    width: 50%;
    img {
        margin:auto;
        display: none;
        height: 40rem;
        width: 40rem;
    }
}
// Main styles finish