@charset "UTF-8";
@font-face {
  src: url("../assets/fonts/ProximaNova-Regular.otf");
  font-family: "Proxima";
  src: url("../assets/fonts/RidleyGroteskDemo-Regular.otf");
  font-family: "Ridley";
}
header {
  min-height: 29.3rem;
  padding: 4rem 0;
  background: url("../assets/images/header-cover.png") no-repeat;
  background-size: cover;
}

.header-navigation {
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation .logo {
  z-index: 200;
}
.header-navigation .menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-navigation .top-navigation-responsive {
  z-index: 103;
  width: 9rem;
  float: right;
  text-align: right;
  padding: 1.2rem 0;
}
.header-navigation .top-navigation-responsive .text {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  color: #fff;
  vertical-align: top;
}
.header-navigation .top-navigation-responsive .toggle-button {
  width: 4rem;
  height: 2.8rem;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
}
.header-navigation .top-navigation-responsive .hamburger {
  outline: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.header-navigation .top-navigation-responsive .hamburger-box {
  width: 30px;
  height: 17px;
  display: inline-block;
  position: relative;
}
.header-navigation .top-navigation-responsive .is-active .hamburger-inner:after, .header-navigation .top-navigation-responsive .is-active .hamburger:hover .hamburger-inner:after {
  width: 100%;
}
.header-navigation .top-navigation-responsive .is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
  transform: translate3d(0, 7px, 0) rotate(45deg);
}
.header-navigation .top-navigation-responsive .is-active .hamburger-inner:before {
  -webkit-transform: rotate(-45deg) translate3d(-4.2857142857px, -4px, 0);
  transform: rotate(-45deg) translate3d(-4.2857142857px, -4px, 0);
  opacity: 0;
}
.header-navigation .top-navigation-responsive .is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -14px, 0) rotate(-90deg);
  transform: translate3d(0, -14px, 0) rotate(-90deg);
}
.header-navigation .top-navigation-responsive .hamburger-inner, .header-navigation .top-navigation-responsive .hamburger-inner:after, .header-navigation .top-navigation-responsive .hamburger-inner:before {
  width: 30px;
  height: 3px;
  background-color: #ec008c;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.header-navigation .top-navigation-responsive .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
  transition: all 0.3s ease-in-out;
  top: 1.5px;
}
.header-navigation .top-navigation-responsive .hamburger--slider .hamburger-inner:before {
  top: 7px;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.header-navigation .top-navigation-responsive .hamburger-inner:before {
  top: -7px;
}
.header-navigation .top-navigation-responsive .hamburger-inner:after {
  bottom: -7px;
  top: 14px;
  transition: all 0.3s ease-in-out;
  width: 55%;
}
.header-navigation .top-navigation-responsive .hamburger-inner:after, .header-navigation .top-navigation-responsive .hamburger-inner:before {
  content: "";
  display: block;
}

.header-content {
  margin: 0;
}
.header-content h1 {
  color: #fff;
  font-size: 5.8rem;
  font-family: "Ridley", sans-serif;
  font-weight: 600;
  margin: 0 0 1.5rem;
  line-height: 1.1;
}
.header-content h1::after {
  content: ".";
  color: #ec008c;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0;
}
.header-content p {
  margin: 0;
  color: #a6b1d6;
  font-size: 2.4rem;
  line-height: 1.458;
}
.header-content ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-content ol li {
  align-items: center;
  display: flex;
  overflow: visible;
  padding-right: 0.7rem;
}
.header-content ol li::after {
  content: "»";
  color: #8e9dce;
  font-size: 1.3rem;
  z-index: 2;
  padding-left: 0.9rem;
  margin-bottom: 0.3rem;
}
.header-content ol li:last-of-type::after {
  content: none;
}
.header-content ol li:last-of-type {
  font-weight: bold;
}
.header-content ol li:last-of-type a {
  color: #cdd6f2;
}
.header-content ol a {
  font-size: 1.7rem;
  align-items: center;
  display: flex;
  color: #8e9dce;
}
.header-content ol svg {
  margin-right: 1rem;
}

.first-section {
  box-shadow: inset 0 -0.1rem 0.5rem 0 #dedede;
  background: #f8f8f8;
  padding: 7rem 0;
}
.first-section .block-image {
  width: 10.8rem;
  height: 10.8rem;
  border-radius: 50%;
  border: 0.2rem solid #c5c5c5;
  margin: 0 auto 3.5rem;
  position: relative;
}
.first-section .block-image::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 0.1rem solid #e3e3e3;
  margin: 0.3rem;
  position: absolute;
}
.first-section svg {
  height: 100%;
  fill: #ec008c;
}
.first-section .svg-icon {
  top: 50%;
  left: 0;
  right: 0;
  height: 4.5rem;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.first-section .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.first-section .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.first-section .animated.animate-1 {
  animation-delay: 0.8s;
}
.first-section .animated.animate-2 {
  animation-delay: 0.9s;
}
.first-section .animated.animate-3 {
  animation-delay: 1s;
}
.first-section .animated.animate-4 {
  animation-delay: 1.1s;
}
.first-section .animate-it {
  opacity: 0;
}
.first-section .block-content {
  text-align: center;
}
.first-section .block-content h3 {
  font-size: 1.8rem;
  margin: 0 0 2.5rem 0;
}
.first-section .block-content p {
  font-size: 1.7rem;
  font-style: normal;
  margin: 0;
  line-height: 1.3;
}
.first-section .block-content a {
  font-weight: 500;
}
.first-section .block-content .facebook {
  color: #27376c;
}
.first-section .block-content .instagram {
  color: #ec008c;
}

.second-section {
  background: #fff;
  padding: 6rem 0 7rem;
  /* Form styles ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
}
.second-section h2 {
  color: #27376c;
  font-family: "Ridley", sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  margin: 0 0 5rem;
}
.second-section h2::after {
  content: ".";
  color: #ec008c;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0;
}
.second-section input, .second-section textarea {
  font-size: 2rem;
  width: 100%;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  border: none;
  border-bottom: 1px solid #e3e3e3;
}
.second-section input:focus, .second-section textarea:focus {
  outline: none;
}
.second-section label {
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  left: 1.7rem;
  top: 1rem;
  transition: 0.2s ease all;
}
.second-section label .asterisk {
  color: #ec008c;
}
.second-section label.special {
  pointer-events: none;
}
.second-section input:focus ~ label, .second-section input:valid ~ label,
.second-section textarea:valid ~ label, .second-section textarea:focus ~ label {
  top: -2rem;
  font-size: 1.5rem;
}
.second-section input:focus, .second-section textarea:focus {
  border-color: #ec008c;
}
.second-section textarea {
  resize: none;
}
.second-section .error {
  color: orangered;
  position: absolute;
  bottom: -3.5rem;
  display: none;
  font-size: 1.2rem;
}
.second-section .more-questions {
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #454545;
}
.second-section .more-questions::after {
  content: "";
  top: -0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  border-color: #ec008c;
  border-style: solid;
  border-width: 0 0 0.2rem 0.2rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 1.2rem;
  display: inline-block;
  position: relative;
}
.second-section .more-questions .question {
  border-bottom: solid 1px #ec008c;
  color: #ec008c;
}
.second-section .additional-questions {
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  overflow: hidden;
}
.second-section .additional-questions.active {
  height: auto;
  display: block;
  opacity: 1;
  visibility: visible;
  margin-bottom: 2rem;
  overflow: visible;
}
.second-section .timeframe::after {
  content: "";
  right: 0;
  bottom: 2rem;
  width: 2.2rem;
  height: 2.1rem;
  background: url("../assets/images/calendar-icon.png") no-repeat 50%/cover;
  position: absolute;
}
.second-section .budget::after {
  content: "";
  right: 0;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../assets/images/pound.svg") no-repeat 50%/cover;
  position: absolute;
}
.second-section .pink-button {
  color: #ec008c;
  border: 0.2rem solid #ec008c;
}
.second-section .pink-button:hover {
  color: #fff;
  background: #ec008c;
}
.second-section .pink-button:hover:after {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  background-image: url("../assets/images/right-arrow-white.svg");
}
.second-section .pink-button:after {
  content: "";
  width: 1.4rem;
  height: 1.2rem;
  background: url("../assets/images/right-arrow.svg") no-repeat 50%/cover;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  margin-left: 1.5rem;
  display: inline-block;
}
.second-section h3 {
  color: #27376c;
  font-size: 2.4rem;
  margin: 0 0 4.5rem;
}
.second-section h3 .approximate {
  color: #454545;
  font-size: 1.7rem;
  font-weight: normal;
}
.second-section input[type=checkbox] {
  padding: 0;
}
.second-section .checkboxes {
  padding-top: 2rem;
  position: relative;
}
.second-section .checkboxes::after {
  content: "";
  display: block;
  clear: both;
}
.second-section .check-box {
  float: left;
  margin: 0 0 5.5rem;
  display: block;
  position: relative;
}
.second-section .check-box input:checked + label:before {
  border: 0.1rem solid #ec008c;
}
.second-section .check-box input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.second-section .check-box label {
  color: #454545;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  padding-left: 4.8rem;
  font-weight: 400;
}
.second-section .check-box label span {
  top: 0.7rem;
  position: relative;
}
.second-section .check-box label:before {
  content: "";
  left: 0;
  width: 2.8rem;
  height: 2.8rem;
  border: 0.1rem solid #e3e3e3;
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.second-section .check-box label:after {
  content: "";
  opacity: 0;
  top: 0.8rem;
  left: 0.8rem;
  width: 1.3rem;
  height: 1.2rem;
  background: url("../assets/images/check.svg") no-repeat 50%/cover;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.second-section .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
  white-space: nowrap;
}

.third-section {
  padding: 0 2rem;
}
.third-section button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #27376c;
  color: white;
  cursor: pointer;
  margin: 20px 20px 20px -10px;
}

.task-boxes {
  display: none;
}

.upload-box {
  height: 55rem;
  margin: 2rem;
  width: 50%;
}
.upload-box img {
  margin: auto;
  display: none;
  height: 40rem;
  width: 40rem;
}

footer .form-row .group {
  margin-bottom: 0;
}

.upper-footer {
  box-shadow: inset 0 0.1rem 0.2rem 0 #dedede;
  background: #f8f8f8;
  padding: 5.5rem 0;
}
.upper-footer .social-media__list {
  list-style-type: none;
  margin: 2rem 0 0 0;
  padding: 0;
}
.upper-footer .social-media__list li {
  display: inline-block;
  margin: 0 0.5rem 1rem;
}
.upper-footer .social-media__list a {
  display: block;
}
.upper-footer .social-media__list .icon {
  width: 4.7rem;
  height: 4.7rem;
}
.upper-footer h4 {
  color: #797979;
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.upper-footer p {
  font-size: 1.7rem;
  color: #797979;
}
.upper-footer a {
  color: #ec008c;
  display: inline-flex;
  align-items: center;
  font-size: 1.7rem;
}
.upper-footer .phone, .upper-footer .mail {
  margin-right: 3rem;
}
.upper-footer .phone svg, .upper-footer .mail svg {
  fill: #ec008c;
  margin-right: 0.9rem;
}

.bottom-footer {
  background: #27376c;
  padding: 4.3rem 0;
}
.bottom-footer .blue-button {
  color: #7d8bbc;
  border: 0.2rem solid #7d8bbc;
  font-weight: bold;
}
.bottom-footer .blue-button:hover {
  background: rgba(125, 139, 188, 0.15);
}
.bottom-footer .icon {
  width: 1.2rem;
  height: 1.8rem;
  margin-left: 1rem;
  fill: #7d8bbc;
}
.bottom-footer p {
  color: #7d8bbc;
  font-size: 1.7rem;
  line-height: 1.471;
  margin: 0;
}
.bottom-footer ul {
  padding: 0;
  margin: 1.5rem 0;
  font-size: 0;
}
.bottom-footer ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.bottom-footer ul li:not(:first-child):before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0.3rem;
  height: 0.3rem;
  background: #7d8bbc;
  border-radius: 50%;
}
.bottom-footer ul li:not(:first-child) a {
  padding: 0 1.3rem;
}
.bottom-footer ul a {
  color: #7d8bbc;
  padding-right: 1.3rem;
  font-size: 1.4rem;
}
.bottom-footer ul a:hover {
  color: #e83e8c;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Proxima", sans-serif;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #333;
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -1.5rem;
}

.group {
  position: relative;
  margin-bottom: 5rem;
  padding: 0 1.5rem;
  width: 30%;
}
.group.group-double {
  width: calc(60% + 4.5rem);
}
.group.group-triple {
  width: 100%;
}
.group.group-half {
  width: 50%;
}
.group.last-child {
  margin-bottom: 0;
}

.button {
  outline: 0;
  line-height: 1;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 4rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  padding: 1.3rem 2.3rem 1.15rem;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-vertical {
  margin: 4rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 117rem;
}
.container .wrap-grid {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  width: 100%;
  display: grid;
  margin: auto;
}
.container .wrap {
  width: 100%;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
.container .wrap > * {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container .box {
  padding: 0 1.5rem;
}

.menu-open {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.menu-open .menu-backdrop {
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.menu-open .menu-list li {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  display: block;
}
.menu-open .menu-list li:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.menu-open .menu-list li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.menu-open .menu-list li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.menu-open .menu-list li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menu-open .menu-list li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menu-open .menu-list li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.menu-open .menu-list li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.menu-open .social li {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.menu-open .top-navigation {
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}
.menu-open .social {
  display: block;
  position: fixed;
  bottom: 3rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 105;
}
.menu-open .social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-open .social ul li {
  display: inline-block;
  margin: 0 1rem;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.menu-open .social ul li:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 100ms;
}
.menu-open .social ul li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.menu-open .social ul li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.menu-open .social ul li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menu-open .social ul li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menu-open .social ul a {
  height: 4rem;
  width: 4rem;
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.social {
  display: none;
}

@media (min-width: 576px) {
  .socials {
    text-align: right;
  }

  .group.last-child {
    text-align: right;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 74rem;
  }

  .check-box {
    width: 33.333%;
  }

  .header-navigation {
    padding: 0 4rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 96rem;
  }

  .wrap-grid {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .content-right {
    width: 59rem;
  }

  .header-content p {
    text-align: right;
  }

  .top-navigation-responsive {
    display: none;
  }

  .top-navigation {
    display: block;
  }

  .menu-list {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .menu-list li:hover a:after, .menu-list li:hover a:before, .menu-list li.active a:after, .menu-list li.active a:before {
    width: 3.5rem;
  }
  .menu-list a {
    color: white;
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  .menu-list a::after, .menu-list a::before {
    content: "";
    left: 0;
    right: 0;
    width: 0;
    height: 1rem;
    margin: 0 auto;
    position: absolute;
    background: url(radicalwebdesign.co.uk/wp-content/themes/radicalwebdesign/assets/images/vectors/circle_top.svg) no-repeat 50%/cover;
    transition: all 0.2s ease-in-out;
    display: block;
  }
  .menu-list a::after {
    bottom: -0.7rem;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .menu-list a::before {
    top: -0.7rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 120rem;
  }

  .menu-list a {
    padding: 0.8rem 2.5rem;
  }
}
@media (max-width: 1400px) {
  .preloader .big-ellipse {
    top: calc(50% - 40rem);
    width: 80rem;
    height: 80rem;
  }

  .preloader .ellipse {
    top: 17.5%;
    width: 65%;
    height: 65%;
  }

  .preloader .ellipse__mini .icon {
    top: calc(50% - 2.5rem);
    width: 4.5rem;
    height: 5rem;
  }

  .menu-list a {
    padding: 0.8rem 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .preloader .big-ellipse {
    top: calc(50% - 30rem);
    width: 60rem;
    height: 60rem;
  }

  .wrap-grid {
    grid-template-columns: 50% 50%;
  }

  .container.responsive-direction {
    flex-direction: column;
    align-items: flex-start;
  }
  .container.responsive-direction p {
    text-align: left;
    font-size: 2rem;
  }
  .container.responsive-direction .content-left {
    margin-bottom: 2.5rem;
  }
  .container.responsive-direction h1 {
    margin-bottom: 1rem;
    font-size: 4.6rem;
  }

  .box {
    margin-bottom: 5rem;
  }

  .top-navigation-responsive {
    display: block;
  }

  .top-navigation {
    z-index: 101;
    float: none;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: #0c1b4e;
    text-align: center;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    padding-top: 14rem;
    position: fixed;
  }

  .menu-list a {
    color: white;
    margin: 0.5rem 0;
    width: auto;
    font-size: 4rem;
    padding: 0.5rem 1.5rem;
    display: inline-block;
  }
  .menu-list li.active a, .menu-list li:hover a {
    color: #fff;
    border-bottom: 0.2rem solid #ec008c;
    text-shadow: none;
  }
}
@media (max-width: 768.98px) {
  .preloader .big-ellipse {
    top: calc(50% - 22.5rem);
    width: 45rem;
    height: 45rem;
  }

  .preloader .ellipse__mini {
    top: 21%;
    width: 58%;
    height: 58%;
  }

  .preloader .ellipse__mini .icon {
    top: calc(50% - 1.5rem);
    width: 2.5rem;
    height: 3rem;
  }

  .second-section .check-box {
    width: 50%;
  }

  .header-navigation {
    padding: 0 1.5rem;
  }

  .header-navigation .menu-list li a {
    font-size: 2.6rem;
  }

  .top-navigation {
    padding-top: 11rem;
  }
}
@media (max-width: 575.98px) {
  .preloader .big-ellipse {
    top: calc(50% - 17.5rem);
    width: 35rem;
    height: 35rem;
  }

  .preloader .ellipse {
    top: 12.5%;
    width: 75%;
    height: 75%;
  }

  .wrap-grid {
    grid-template-columns: 100%;
  }

  .form-row {
    display: block;
  }
  .form-row .group {
    width: 96%;
  }

  .socials {
    text-align: left;
    margin-bottom: 0;
  }

  .second-section .check-box {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .preloader .big-ellipse {
    top: calc(50% - 14rem);
    width: 28rem;
    height: 28rem;
  }

  .preloader .ellipse__mini .icon {
    top: calc(50% - 1.1rem);
    width: 1.7rem;
    height: 2.2rem;
  }
}
.preloader {
  z-index: 999;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c1b4e;
  transition: all 0.3s ease-in-out;
  position: fixed;
}
.preloader .icon {
  top: calc(50% - 3.45rem);
  left: 0;
  right: 0;
  color: #fff;
  width: 8.8rem;
  height: 6.9rem;
  margin: 0 auto;
  position: absolute;
}

.preloader-hidden {
  opacity: 0;
}

.preloader-none {
  display: none;
}

.big-ellipse {
  top: calc(50% - 64.8rem);
  left: 0;
  right: 0;
  width: 129.6rem;
  height: 129.6rem;
  border-radius: 50%;
  border: 0.2rem solid rgba(80, 94, 138, 0.502);
  -webkit-animation: pulse-ellipse 2.5s linear infinite;
  animation: pulse-ellipse 2.5s linear infinite;
  margin: 0 auto;
  position: absolute;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse-ellipse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-ellipse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes draw-ellipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes draw-ellipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.ellipse__medium {
  top: 18.5%;
  left: 0;
  right: 0;
  width: 63%;
  height: 63%;
  border-radius: 50%;
  border: 0.2rem solid #71b9d1;
  -webkit-animation: pulse-ellipse 2.1s linear infinite;
  animation: pulse-ellipse 2.1s linear infinite;
  margin: 0 auto;
  position: absolute;
}

.ellipse__small {
  top: 16%;
  left: 0;
  right: 0;
  width: 68%;
  height: 68%;
  margin: 0 auto;
  position: absolute;
}

.ellipse__mini {
  z-index: 2;
  top: 19%;
  left: 0;
  right: 0;
  width: 62%;
  height: 62%;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}

.ellipse {
  top: 26.5%;
  left: 0;
  right: 0;
  width: 47%;
  height: 47%;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
}

.big-spinner {
  background: linear-gradient(180deg, #505e8a 10%, #505e8a);
  -webkit-animation: draw-ellipse 2.5s linear infinite;
  animation: draw-ellipse 2.5s linear infinite;
}
.big-spinner:before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #505e8a 0);
}

.spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
.spinner:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.spinner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: calc(100% - .1rem);
  height: calc(100% - .1rem);
  border-radius: 50%;
  background: #0c1b4e;
  margin: 0 auto;
}

.small-spinner {
  background: linear-gradient(180deg, #d63a81 10%, #d63a81);
  -webkit-animation: draw-ellipse 1.5s linear infinite;
  animation: draw-ellipse 1.5s linear infinite;
}
.small-spinner::before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #d63a81 0);
}

.svg-container {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.svg-container:not(.no-color) svg {
  width: inherit;
  height: inherit;
  display: inline-block;
  color: inherit !important;
}

/*# sourceMappingURL=style.css.map */
