// Colors
$pink: #ec008c;
$blue: #27376c;
$grey: #454545;

// Fonts
@font-face {
    src: url("../assets/fonts/ProximaNova-Regular.otf");
    font-family: "Proxima";

    src: url("../assets/fonts/RidleyGroteskDemo-Regular.otf");
    font-family: "Ridley";
}

// Imports
@import "./header.scss";
@import './main.scss';
@import './footer.scss';


// Global rules
html {
    font-size:10px;
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Proxima", sans-serif;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: #333;
    font-size: 1.6rem;
    position: relative;
}
a {
    text-decoration:none;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.5rem;
}
.group        { 
    position:relative; 
    margin-bottom:5rem;
    padding: 0 1.5rem;
    width: 30%;
    &.group-double {
        width:calc(60% + 4.5rem);
    }
    &.group-triple {
        width:100%;
    }
    &.group-half {
        width: 50%;
    }
    &.last-child {
        margin-bottom: 0;
    }
}
.button {
    outline: 0;
    line-height: 1;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 4rem;
    background: transparent;
    transition: all .3s ease-in-out;
    padding: 1.3rem 2.3rem 1.15rem;
    display: inline-block;
    position: relative;
    font-weight: bold;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.margin-vertical {
    margin: 4rem 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 117rem;
    .wrap-grid {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        width: 100%;
        display:grid;
        margin: auto;
    }
    .wrap {
        width: 100%;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        > * {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
    .box {
        padding: 0 1.5rem;
    }
}
.menu-open {
    position: relative;
    height: 100%;
    overflow: hidden;
    .menu-backdrop {
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba(0,0,0,.3);
        position: absolute;
        -webkit-animation: fadeIn .3s ease-in-out;
        animation: fadeIn .3s ease-in-out;
    }
    .menu-list {
        li {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-delay: .25s;
            animation-delay: .25s;
            display: block;
            &:first-child {
                -webkit-animation-delay: .1s;
                animation-delay: .1s;
            }
            &:nth-child(2) {
                -webkit-animation-delay: .2s;
                animation-delay: .2s;
            }
            &:nth-child(3){
                -webkit-animation-delay: .3s;
                animation-delay: .3s;
            }
            &:nth-child(4) {
                -webkit-animation-delay: .4s;
                animation-delay: .4s;
            }
            &:nth-child(5) {
                -webkit-animation-delay: .5s;
                animation-delay: .5s;
            }
            &:nth-child(6) {
                -webkit-animation-delay: .6s;
                animation-delay: .6s;
            }
            &:nth-child(7) {
                -webkit-animation-delay: .7s;
                animation-delay: .7s;
            }
        }
    }
    .social li {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    .top-navigation {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    .social {
        display: block;
        position: fixed;
        bottom: 3rem;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 105;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 1rem;
                -webkit-animation-name: fadeInLeft;
                animation-name: fadeInLeft;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-delay: .15s;
                animation-delay: .15s;
                &:first-child {
                    -webkit-animation-delay: .1s;
                    animation-delay: 100ms;
                }
                &:nth-child(2) {
                    -webkit-animation-delay: .2s;
                    animation-delay: .2s;
                }
                &:nth-child(3) {
                    -webkit-animation-delay: .3s;
                    animation-delay: .3s;
                }
                &:nth-child(4) {
                    -webkit-animation-delay: .4s;
                    animation-delay: .4s;
                }
                &:nth-child(5) {
                    -webkit-animation-delay: .5s;
                    animation-delay: .5s;
                }
            }
            a {
                height: 4rem;
                width: 4rem;
                color: #fff;
                opacity: .7;
                transition: all .3s ease-in-out;
            }
        }
    }
}
.social {
    display: none;
}
@media (min-width: 576px){ 
    .socials {
        text-align: right;
    }
    .group.last-child {
        text-align:right;
    }
}
@media (min-width:769px) {
    .container {
        max-width:74rem
    }
    .check-box {
        width: 33.333%;
    }
    .header-navigation {
        padding: 0 4rem;
    }
}
@media (min-width:992px) {
    .container {
        max-width:96rem;
    }
    .wrap-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .content-right {
        width: 59rem;
    }
    .header-content p {
        text-align: right;
    }
    .top-navigation-responsive {
        display:none;
    }
    .top-navigation {
        display: block;
    }
    .menu-list {
        display: flex;
        margin: 0;
        padding: 0;
        li:hover a:after,  li:hover a:before, li.active a:after, li.active a:before {
            width: 3.5rem;
        }
        a {
            color: white;
            font-size: 1.8rem;
            transition: all .2s ease-in-out;
            position: relative;
            &::after, &::before {
                content: "";
                left: 0;
                right: 0;
                width: 0;
                height: 1rem;
                margin: 0 auto;
                position: absolute;
                background: url(radicalwebdesign.co.uk/wp-content/themes/radicalwebdesign/assets/images/vectors/circle_top.svg) no-repeat 50%/cover;
                transition: all .2s ease-in-out;
                display: block;
            }
            &::after {
                bottom: -0.7rem;
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
            &::before {
                top: -0.7rem;
            }
        }
    }
}
@media (min-width:1200px) {
    .container {
        max-width:120rem;
    }
    .menu-list a {
        padding: .8rem 2.5rem;
    }
}

// Media queries start

@media (max-width: 1400px){
    .preloader .big-ellipse {
        top: calc(50% - 40rem);
        width: 80rem;
        height: 80rem;
    }
    .preloader .ellipse {
        top: 17.5%;
        width: 65%;
        height: 65%;
    }
    .preloader .ellipse__mini .icon {
        top: calc(50% - 2.5rem);
        width: 4.5rem;
        height: 5rem;
    }
    .menu-list a {
        padding: .8rem 1.5rem;
    }
}
@media (max-width: 991.98px){
    .preloader .big-ellipse {
        top: calc(50% - 30rem);
        width: 60rem; 
        height: 60rem;
    }
    .wrap-grid {
        grid-template-columns: 50% 50%;
    }
    .container.responsive-direction {
        flex-direction:column;
        align-items:flex-start;
        p {
            text-align:left;
            font-size:2rem;
        }
        .content-left {
            margin-bottom: 2.5rem;
        }
        h1 {
            margin-bottom: 1rem;
            font-size: 4.6rem;
        }
    }
    .box {
        margin-bottom: 5rem;
    }
    .top-navigation-responsive {
        display:block;
    }
    .top-navigation {
        z-index: 101;
        float: none;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: #0c1b4e;
        text-align: center;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
        padding-top: 14rem;
        position: fixed;
    }
    .menu-list {
        a {
            color: white;
            margin: .5rem 0;
            width: auto;
            font-size: 4rem;
            padding: .5rem 1.5rem;
            display: inline-block;
        }
        li {
            &.active a, &:hover a {
                color: #fff;
                border-bottom: .2rem solid #ec008c;
                text-shadow: none;
            }
        }
    }
}
@media (max-width: 768.98px){
    .preloader .big-ellipse {
        top: calc(50% - 22.5rem); 
        width: 45rem; 
        height: 45rem;
    }
    .preloader .ellipse__mini {
        top: 21%;
        width: 58%;
        height: 58%;
    }
    .preloader .ellipse__mini .icon {
        top: calc(50% - 1.5rem);
        width: 2.5rem;
        height: 3rem;
    }
    .second-section .check-box {
        width: 50%;
    }
    .header-navigation {
        padding: 0 1.5rem;
    }
    .header-navigation .menu-list li a {
        font-size: 2.6rem;
    }
    .top-navigation {
        padding-top: 11rem;
    }
}
@media (max-width: 575.98px){
    .preloader .big-ellipse {
        top: calc(50% - 17.5rem);
        width: 35rem; 
        height: 35rem;
    }
    .preloader .ellipse {
        top: 12.5%;
        width: 75%;
        height: 75%;
    }
    .wrap-grid {
        grid-template-columns: 100%;
    }
    .form-row {
        display:block;
        .group {
            width: 96%;
        }
    }
    .socials {
        text-align:left;
        margin-bottom:0;
    }
    .second-section .check-box {
        width: 100%;
    }
}
@media (max-width: 425px){
    .preloader .big-ellipse {
        top: calc(50% - 14rem);
        width: 28rem;
        height: 28rem;
    }
    .preloader .ellipse__mini .icon {
        top: calc(50% - 1.1rem);
        width: 1.7rem;
        height: 2.2rem;
    }
}
// Media queries finish


// Preloader styles start
.preloader {
    z-index: 999;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c1b4e;
    transition: all .3s ease-in-out;
    position: fixed;
    .icon {
        top: calc(50% - 3.45rem);
        left: 0;
        right: 0;
        color: #fff;
        width: 8.8rem;
        height: 6.9rem;
        margin: 0 auto;
        position: absolute;
    }
}
.preloader-hidden {
    opacity: 0;
}
.preloader-none {
    display: none;
}
.big-ellipse {
    top: calc(50% - 64.8rem);
    left: 0;
    right: 0;
    width: 129.6rem;
    height: 129.6rem;
    border-radius: 50%;
    border: .2rem solid rgba(80,94,138,.502);
    -webkit-animation: pulse-ellipse 2.5s linear infinite;
    animation: pulse-ellipse 2.5s linear infinite;
    margin: 0 auto;
    position: absolute;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInLeft {
    0% {
        opacity:0;
        -webkit-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50% {
        opacity:1
    } 
    to {
        opacity:1
    }
}
@keyframes zoomIn {
    0% {
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    50% {
        opacity:1
    }
    to {
        opacity:1
    }
}
@keyframes pulse-ellipse {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    to {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes pulse-ellipse {
    0% {
        -webkit-transform:scale(1)
    }
    50% {
        -webkit-transform:scale(1.1)
    } 
    to {
        -webkit-transform:scale(1)
    }
}
@-webkit-keyframes draw-ellipse {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to {
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes draw-ellipse {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to {
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
.ellipse__medium {
    top: 18.5%;
    left: 0;
    right: 0;
    width: 63%;
    height: 63%;
    border-radius: 50%;
    border: .2rem solid #71b9d1;
    -webkit-animation: pulse-ellipse 2.1s linear infinite;
    animation: pulse-ellipse 2.1s linear infinite;
    margin: 0 auto;
    position: absolute;
}
.ellipse__small {
    top: 16%;
    left: 0;
    right: 0;
    width: 68%;
    height: 68%;
    margin: 0 auto;
    position: absolute;
}
.ellipse__mini {
    z-index: 2;
    top: 19%;
    left: 0;
    right: 0;
    width: 62%;
    height: 62%;
    border-radius: 50%;
    border: .3rem solid #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
}
.ellipse {
    top: 26.5%;
    left: 0;
    right: 0;
    width: 47%;
    height: 47%;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
}
.big-spinner {
    background: linear-gradient(180deg,#505e8a 10%,#505e8a);
    -webkit-animation: draw-ellipse 2.5s linear infinite;
    animation: draw-ellipse 2.5s linear infinite;
    &:before {
        background: linear-gradient(90deg,hsla(0,0%,100%,0) 50%,#505e8a 0);
    }    
}
.spinner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    &:before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    &:after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: calc(100% - .1rem);
        height: calc(100% - .1rem);
        border-radius: 50%;
        background: #0c1b4e;
        margin: 0 auto;
    }
}
.small-spinner {
    background: linear-gradient(180deg,#d63a81 10%,#d63a81);
    -webkit-animation: draw-ellipse 1.5s linear infinite;
    animation: draw-ellipse 1.5s linear infinite;
    &::before {
        background: linear-gradient(90deg,hsla(0,0%,100%,0) 50%,#d63a81 0);
    }
}
.svg-container {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}
.svg-container:not(.no-color) svg {
    width: inherit;
    height: inherit;
    display: inline-block;
    color: inherit!important;
}
// Preloader styles finish












